Repository lukashergt/primpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8 --max-line-length 99
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

remove debugging `print` statement
  tests/test_inflation.py
Due: flake8

allow using `DeltaN_minus1` also as input parameter, not just as derived parameter
  primpy/inflation.py
Due: flake8, pydocstyle

add check that all reheating parameters get initialised as `nan`, so they exist even when they do not get computed
  tests/test_inflation.py
Due: flake8

version bump to 2.18.0
  README.rst
  primpy/__version__.py
Due: flake8, pydocstyle

add checks for reheating parameter corner cases that should raise errors
  tests/test_inflation.py
Due: flake8

fix bug in error message not correctly reporting derived `sol.DeltaN_reh`; correct error message on reheating details when providing `DeltaN_minus1` input
  primpy/inflation.py
Due: flake8, pydocstyle

adapt test to changed error
  tests/test_inflation.py
Due: flake8

fix spelling typo
  tests/test_inflation.py
Due: flake8

adapt reheating error message to new `DeltaN_minus1` parameter
  primpy/inflation.py
Due: flake8, pydocstyle

cover edge case that some `N_star` and `w_reh=1/3` are being requested, which should result in an error
  primpy/inflation.py
  tests/test_inflation.py
Due: flake8, pydocstyle

minor exponent reformatting
  primpy/inflation.py
Due: flake8, pydocstyle

add `DeltaN_minus1` computation to all curved calibration cases
  primpy/inflation.py
Due: flake8, pydocstyle

enforce that for curved universes you should not specify `N_star`, it should be derived
  primpy/inflation.py
Due: flake8, pydocstyle

adapt test to requirement that `N_star` be only used as input for flat universes
  tests/test_inflation.py
Due: flake8

note that `DeltaN_minus1 = -lnR_rad`, they differ by a minus sign, adapt code accordingly
  primpy/inflation.py
Due: flake8, pydocstyle

correct sign of `DeltaN_minus1` in docstring
  primpy/reheating.py
Due: flake8, pydocstyle

add test that checks for the correct sign of `DeltaN_minus1`
  tests/test_inflation.py
Due: flake8

add check for error when `N_star` is provided for curved universes, where it should be left to `None`
  tests/test_inflation.py
Due: flake8

add `DeltaN_minus1` to reheating test for consistency between time and efolds independent variable
  tests/test_inflation.py
Due: flake8

Reheating with `DeltaN_minus1` (agnostic reheating parameter) (#71)
  README.rst
  primpy/__version__.py
  primpy/inflation.py
  primpy/reheating.py
  tests/test_inflation.py
Due: flake8, pydocstyle

version bump to 2.18.1
  README.rst
  primpy/__version__.py
Due: flake8, pydocstyle

update readthedocs to ubuntu-24.04
  .readthedocs.yml
Due: none

force a pip upgrade to ensure latest versions are used for readthedocs
  .readthedocs.yml
Due: none

set minimum requirement for `sphinx_rtd_theme>=3.0.0` in the hope that builds on readthedocs work again
  docs/requirements.txt
Due: none

fix PR template which was referencing `anesthetic` instead of `primpy`
  .github/pull_request_template.md
Due: none

Update readthedocs (#72)
  .github/pull_request_template.md
  .readthedocs.yml
  README.rst
  docs/requirements.txt
  primpy/__version__.py
Due: flake8, pydocstyle

add amplitudes `A_s` and `A_t`, and `r` to the LLMS and ARBDS approximations
  primpy/inflation.py
Due: flake8, pydocstyle

add checks for `A_s`, `n_s` etc. for the LLMS and ARBDS approximations
  tests/test_inflation.py
Due: flake8

version bump to 2.18.2
  README.rst
  primpy/__version__.py
Due: flake8, pydocstyle

adapt the `RadionGaugePotential` for the cobaya wrapper
  cobaya_wrapper/slowroll_pps.py
Due: flake8

fix docs with `autodoc_use_legacy_class_based = True` for Sphinx 9.x compatibility with autodoc
  docs/source/conf.py
Due: none

Integrate `RadionGaugePotential` into cobaya wrapper (#74)
  README.rst
  cobaya_wrapper/slowroll_pps.py
  docs/source/conf.py
  primpy/__version__.py
Due: flake8, pydocstyle

minor renaming of tags and labels, e.g. `tap` instead of `tmp` for the T model to emphasize the alha attractor role
  primpy/potentials.py
Due: flake8, pydocstyle

pass kwargs from calibration through to the approximation of the PPS
  primpy/inflation.py
Due: flake8, pydocstyle

make `rho_reh_GeV` check robust by checking existence first
  cobaya_wrapper/slowroll_pps.py
Due: flake8

version bump to 2.18.3
  README.rst
  primpy/__version__.py
Due: flake8, pydocstyle

add `DeltaN_minus` to provided parameters by primpy through cobaya
  cobaya_wrapper/slowroll_pps.py
Due: flake8

document kwargs passed from `calibrate_scale_factor` to `derive_approx_power` and add basic test for this kwarg passing
  primpy/inflation.py
  tests/test_inflation.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: primpy/|tests/|cobaya_wrapper/ and \.py$
  pydocstyle: any of: primpy/ and \.py$
