Repository lukashergt/primpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8 --max-line-length 99
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Fix catching of unrealistic reheating for `N_reh > N0` (#67)
  README.rst
  cobaya_wrapper/slowroll_pps.py
  primpy/__version__.py
  primpy/inflation.py
  tests/test_inflation.py
Due: flake8, pydocstyle

add `rho_reh_GeV` to the `can_provide_params` list for the cobaya wrapper
  cobaya_wrapper/slowroll_pps.py
Due: flake8

version bump to 2.16.2
  README.rst
  primpy/__version__.py
Due: flake8, pydocstyle

allow `w_reh` as reheating input for `N_star` calibration (alternative to `rho_reh_GeV`); also improve instant reheating checking; for wrong input raise `ValueError` rather than `PrimpyError`
  primpy/inflation.py
  tests/test_inflation.py
Due: flake8, pydocstyle

use python version 3.12 for docs going forward
  .readthedocs.yml
Due: none

add missing check for error raising for code coverage
  tests/test_inflation.py
Due: flake8

exclude some reheating checks when running backwards in time, reheating does not really make sense for an evolution before inflation
  primpy/inflation.py
Due: flake8, pydocstyle

add missing comma in cobaya wrapper
  cobaya_wrapper/slowroll_pps.py
Due: flake8

match arg ordering in `parametrize` decorator to function signature
  tests/test_inflation.py
Due: flake8

Fix a bug in the reheating calculations when running with `w_reh` and `rho_reh` (#68)
  .readthedocs.yml
  README.rst
  cobaya_wrapper/slowroll_pps.py
  primpy/__version__.py
  primpy/inflation.py
  tests/test_inflation.py
Due: flake8, pydocstyle

version bump to 2.17.0
  README.rst
  primpy/__version__.py
Due: flake8, pydocstyle

move the catching of unphysical reheating scenarios from the cobaya-wrapper to the main computation; DeltaN_reh<0 and w_reh<-1/3 are always unacceptable by definition
  cobaya_wrapper/slowroll_pps.py
  primpy/inflation.py
Due: flake8, pydocstyle

make sure to compute sufficient efolds even for large N_star
  cobaya_wrapper/slowroll_pps.py
Due: flake8

add the comoving Hubble horizon to the possible results from cobaya
  cobaya_wrapper/slowroll_pps.py
Due: flake8

introduce `lnR_rad` parameter as reheating agnostic parameterisation
  primpy/inflation.py
Due: flake8, pydocstyle

add `lnR_rad` parameter to tests for reheating self consistency
  tests/test_inflation.py
Due: flake8

expand test for `lnR_rad` reheating parameter
  tests/test_inflation.py
Due: flake8

fix the checking of the instant reheating condition, which got more complex with the addition of `lnR_rad`; create new dedicated function in new `reheating.py` module
  primpy/inflation.py
  primpy/reheating.py
Due: flake8, pydocstyle

adapt instant reheating check also for curved universes
  primpy/inflation.py
Due: flake8, pydocstyle

expand reheating tests for catching of new exceptions and for the correct setting of nans to improve test coverage
  tests/test_inflation.py
Due: flake8

refine reheating consistency tests to check that for all scenarios the same parameters get set (to nans if necessary); add missing `rho_reh_mp4` parameter for some scenarios
  primpy/inflation.py
  primpy/reheating.py
  tests/test_inflation.py
Due: flake8, pydocstyle

add `delta_N_calib` to the tested parameters for consistency
  tests/test_inflation.py
Due: flake8

make `is_instant_reheating` docstring more explicit in its handling of the `N_star` parameter
  primpy/reheating.py
Due: flake8, pydocstyle

fix missing spaces in exception message
  primpy/inflation.py
Due: flake8, pydocstyle

add `DeltaN_reh=0` to the instant reheating checks for completeness
  tests/test_inflation.py
Due: flake8

switch to `lsq_spline` rather than `UnivariateInterpolatedSpline` for better estimation of the difficult `n_runrun`
  cobaya_wrapper/slowroll_pps.py
  primpy/inflation.py
Due: flake8, pydocstyle

add `__init__.py` to cobaya wrapper
  cobaya_wrapper/__init__.py
Due: flake8

add Radion Gauge Inflation (also known as KKLT D-Brane Inflation) to potentials
  primpy/potentials.py
  tests/test_potentials.py
Due: flake8, pydocstyle

add potential tests for conversions between `V` and `phi`, and between `phi` and `N`
  tests/test_potentials.py
Due: flake8

fix computation of `sr_N2phi` for Radion Gauge Inflation, and expand the docstring with info on potential parameters
  primpy/potentials.py
Due: flake8, pydocstyle

unify naming convention
  primpy/potentials.py
Due: flake8, pydocstyle

add special `p=2` class of Radion Gauge Inflation, which allows analystic computation of `phi_end` and `N2phi`
  primpy/potentials.py
  tests/test_potentials.py
Due: flake8, pydocstyle

add test for potentials that `epsilon_1V(phi_end) == 1`
  tests/test_potentials.py
Due: flake8

use root finder for `phi_end` in `DoubleWellPotential`; improve precision to ensure accurate computation of `phi_end`
  primpy/potentials.py
Due: flake8, pydocstyle

Radion Gauge Inflation (a.k.a. KKLT D-Brane Inflation) (#70)
  README.rst
  primpy/__version__.py
  primpy/potentials.py
  tests/test_potentials.py
Due: flake8, pydocstyle

start `reheating` module; add helper function for instant reheating cases
  primpy/reheating.py
Due: flake8, pydocstyle

expand tests for reheating scenarios, comparing various combinations of `N_star`, `w_reh`, `rho_reh`, `DeltaN_reh`, `DeltaN_minus``
  tests/test_inflation.py
Due: flake8

Path conditions:
  flake8: any of: primpy/|tests/|cobaya_wrapper/ and \.py$
  pydocstyle: any of: primpy/ and \.py$
